beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
psycopg2==2.9.9
pyTelegramBotAPI==4.22.1
pytz==2024.2
requests==2.32.3
schedule==1.2.2
soupsieve==2.6
telebot==0.0.5
urllib3==2.2.3
